<mat-toolbar color="primary">
    <mat-toolbar-row>
        <nav>
        <a mat-button routerLink="/inicio" routerLinkActive="active">Inicio</a>
        <a mat-button routerLink="/imagenes" routerLinkActive="active">Imagenes</a>
        <a mat-button routerLink="/gatos" routerLinkActive="active">Gatos</a>
    </nav>
    </mat-toolbar-row>
</mat-toolbar>

<p>Imagenes</p>

<mat-grid-list cols="5"  rowHeight="1:1.5" >
    <div *ngFor="let imagenes of imagenes">
        <mat-grid-tile >
         

            <div><img src="{{imagenes.url}}" alt="" >
            <button mat-button (click)="anadirFavorito(imagenes.id)">Añadir a favoritos</button>
            
            </div>
          
            
        </mat-grid-tile>
    </div>
   
    

</mat-grid-list>
